@model IEnumerable<Annexio.Models.Country>
@{
    ViewBag.Title = "IndexAsync";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Region</th>
            <th scope="col">Sub-Region</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var country in @Model)
        {
        <tr class="table-dark">
            <td>
                <a href=@Url.Action("CountryDetails", "Details", new { countryName = @country.Name })>@country.Name</a>
            </td>
            <td>
                <a href=@Url.Action("BasicDetails", "Details", new { regionName = @country.Region })>@country.Region</a>
            </td>
            <td>
                <a href=@Url.Action("BasicDetails", "Details", new { subRegionName = @country.Subregion })>@country.Subregion</a>
            </td>
        </tr>
        }
    </tbody>
</table>

